.cursive {font-family: 'Unbounded', sans-serif;}
.headers, .projects_para{
    font-family: 'Lato', sans-serif;
}

.about {
    background-image: url("assets/blackbg.jpg");
  
}
.about ,label {  
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.portfolio {
    background-image: url("assets/bnw.jpg");
   
}

.digital {
    background: -webkit-linear-gradient(0deg, #ffffff 0%, #000000 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;}

